<!doctype html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset='utf-8'></meta>
    <link href="<%= bootstrap %>" rel="stylesheet">
    <link href="<%= fontawesome %>" rel="stylesheet">
  </head>
  <body>
    <div ng-app="<%= name %>"></div>
    <ng-view></ng-view>
    <script src="<%= jquery %>"></script>
    <script src="<%= bootstrapjs %>"></script>
    <script src="<%= angularjs %>"></script>
  </body>
</html>